#navbar{
    @include flex;
    ul{
        @include flex;  
        background-color: $thirdColor;
        border-radius: 15px;

        li{   
            color: white;
            @include transi;
            background-color: $thirdColor;
            cursor: pointer;

            &:hover{
                // background-color: $fourthColor;
                filter: brightness(130%);
            }

            &:first-of-type{
                border-radius: 15px 0 0 15px;
            }

            &:last-of-type{
                border-radius: 0 15px 15px 0;
            }

            a{
                display: inline-block;
                color:white;
                padding: 1em;
            }
        }
    }
}