#offerSection{
    padding: 2em 0;
    text-align: center;
    h2{
        text-align: center;
    }
    .offersContainer{
        @include flex;
        padding: 2em;
        gap: 1em;
        text-align: left;

        .offerContainer{
            @include flex(space-between, $wrap:nowrap);
            @include transi(.2s);
            width: 80%;
            padding:1em 2em;
            background-color: white;
            border: 2px solid $secondaryColor;

            &:hover{
                background-color: $secondaryColor;
            }

            h3{
                padding-bottom: .2em;
            }

            .offerDescription{
                padding: .8em 0;
            }

            .leftBlock{
                padding: .5em 0em;
                img{
                    padding-top: .5em;
                    width: 75px;
                    height: 75px;
                    object-fit: cover;
                }

                .moreInfo{
                    color:rgb(18, 18, 148);
                    text-decoration: underline;
                }
            }

            .rightBlock{
                padding: .3em;
                @include flex(flex-start,column,flex-start);
                // gap:.1em;
                p{
                    padding: .3em 0;
                }
            }
        }
    } 
}

#offerFormSection{
    @include flex(center, column);
    padding: 4em 0;
    h2{
        padding-bottom: 1em;
    }
    text-align: center;  
}

#offerDetailsSection{
    padding: 2em 0;
    @include flex(center, column, center);
    h2{
        text-align: center
    }

    .offerContainer{
        @include flex(space-between,column, $wrap:nowrap);
        @include transi(.2s);
        width: 80%;
        padding:3em 4em;
        margin-bottom: 2em;
        border: 2px solid $secondaryColor;
        border-radius: 15px;
        background-color: white;

        h3{
            padding-bottom: .2em;
        }

        .offerDescription{
            padding: .8em 0;
        }

        .leftBlock{
            padding: .5em 0em 2em 0em;
            img{
                padding-top: .5em;
                width: 75px;
                height: 75px;
                object-fit: cover;
            }
        }

        .rightBlock{
            padding: .5em;
            width: auto;
            @include flex(flex-end,row,center);
            gap: .75em;

            background-color: $primaryColor;
                border: 1px solid $secondaryColor;
                border-radius: 15px;
                padding: 1em;

            p{
                padding: 0em;
            }

            .hiddenFormContainer{
                @include flex(flex-start, row, center);
            }
        }
    }
}