#profileSection {
    margin-top: 1em;
    padding: 1em 0;
    width: 70%;
    margin-inline: auto;
    text-align: center;
    background-color: $secondaryColor;
    // border: 1px solid $secondaryColor;
    border-radius: 15px;
    ul{
        @include flex(flex-start, column, flex-start);
    }
    form{
        margin: 0 auto;
        width: 70%;
    }

    .infoContainer{
        @include flex(space-evenly,row,center);
        padding: 2em;
        
        img{
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
 
    #candidate_contractType{
        @include flex(center, row, center, nowrap);
        label{
            padding-right: 1em;
        }

    }
}