{% extends 'base.html.twig' %}

{% block title %}Liste des offres.{% endblock %}

{% block body %}
<section id="offerSection">
    <h2>Création de cv.</h2>
    {{ form_start(form)}}
        {{ form_errors(form)}}
        
        {{ form_end(form)}}
    <a href="/profil" class="button">Retour</a>

</section>
{% endblock %}
